@font-face {
    font-family: strange;
    src: url('./Strange.ttf');
  }
body{
    background-color: black;
}


header{
 height: 90vh;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 overflow: hidden;
}

.headerDetails h1{
   font-family:strange;
   color: red;
}

.headerDetails{
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 40vw;
    color: white;
}

header button{
    display: flex;
    font-size: 1rem;
    width: 8rem;
    align-items: center;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    justify-content: center;
}

.buttonsContainer{
    display: flex;
    gap: 1rem;
}

header .playButton{
    background-color: red;
}

header .infoButton{
    background-color: rgb(116, 110, 110);
}

iframe{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    margin: none;
    border: none;
    padding: none;
}

.iframeContainer{
    position: relative;
    height: 100vh;
}

.iframeContainer span{
    position: fixed;
    top: 3rem;
    left: 2rem;
    cursor: pointer;
    z-index: 20;
    font-size: 4rem;
    color: red;
}

@media only screen and (max-width: 650px) {
   .headerDetails{
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30vh;
   }

   .buttonsContainer{
    justify-content: center;
   }
  }